.button {
  text-align: center;
  width: 200px;
  height: 100px;
  margin-left: 50px;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: darkgreen;
  transform: skew(-45deg);
}
